<%- include('templates/header', {title: "Home"}) %>

<body>
    <%- include('templates/menu', {who: loggedInUser ? loggedInUser.type : ""}) %>

    <div class="container mt-3">
        <div class="text-center">
            <h3>Web Portal to</h3>
            <h1 class="text-info">Perform Real Estate Transactions Securely!</h1>
        </div>

    </div>

    <%- include('templates/footer') %>

    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            /////////////////////////////////

            
        });
    </script>

</body>

</html>