<%- include('templates/header', {title: "Login"}) %>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #afbec9;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/landx16.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">

        <h3 class="text-center mt-5">User Login</h3>

        <form action="/user/login" method="post">
            <div class="row mb-3">
                <div class="col-md-5 col-sm-4">
                    <input type="text" class="form-control" name="username" id="username1" placeholder="uid"
                        value="123456789021">
                </div>
                <div class="col-md-5 col-sm-4">
                    <input type="password" class="form-control" name="password" id="password1" placeholder="password"
                        value="123456">
                </div>
                <div class="col-md-2 col-sm-4 d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>

        <h3 class="text-center mt-5">Registrar Login</h3>

        <form action="/registrar/login" method="post">
            <div class="row mb-3">
                <div class="col-md-5 col-sm-4">
                    <input type="text" class="form-control" name="username" id="username2" placeholder="officeCode"
                        value="THN1">
                </div>
                <div class="col-md-5 col-sm-4">
                    <input type="password" class="form-control" name="password" id="password2" placeholder="password"
                        value="123456">
                </div>
                <div class="col-md-2 col-sm-4 d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>

        <h3 class="text-center mt-5">IGR Login</h3>
        <form action="/igr/login" method="post">
            <div class="row mb-3">
                <div class="col-md-5 col-sm-4">
                    <input type="text" class="form-control" name="username" id="username3" placeholder="username"
                        value="super">
                </div>
                <div class="col-md-5 col-sm-4">
                    <input type="password" class="form-control" name="password" id="password3" placeholder="password"
                        value="123456">
                </div>
                <div class="col-md-2 col-sm-4 d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </div>
            </div>
        </form>
    </div>

    <%- include('templates/footer') %>

</body>

</html>