<%- include('templates/header', {title: "Login"}) %>
<body>

    <div class="container">
        <div class="text-center">
            <h1>Login</h1>
        </div>

        <%- include('templates/menu') %>
        
        <h2>User Login</h2>

        <form action="/user/login" method="post">
            <input type="text" name="username" id="username1" placeholder="uid" value="123456789021">
            <input type="password" name="password" id="password1" placeholder="password" value="123456">

            <button type="submit">Login</button>
        </form>

        <h2>Registrar Login</h2>

        <form action="/registrar/login" method="post">
            <input type="text" name="username" id="username2" placeholder="officeCode" value="THN1">
            <input type="password" name="password" id="password2" placeholder="password" value="123456">

            <button type="submit">Login</button>
        </form>

        <h2>IGR Login</h2>
        <form action="/igr/login" method="post">
            <input type="text" name="username" id="username3" placeholder="username" value="super">
            <input type="password" name="password" id="password3" placeholder="password" value="123456">

            <button type="submit">Login</button>
        </form>
    </div>

    <%- include('templates/footer') %>

</body>
</html>