<%- include('../templates/header', {title: "User"}) %>

<body>

    <%- include('../templates/menu', {who: "user"}) %>

    <div class="container mt-3 mb-5">

        <h4 class="mt-3">Owned</h4>
        <pre id="owned_estate_data" hidden="hidden"><%= JSON.stringify(owned) %></pre>

        <!-- <table id="table_owned" class="table table-dark table-bordered table-hover"> -->
        <table id="table_owned" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Servey No.</th>
                    <th scope="col">Office Code</th>
                    <th scope="col">Area</th>
                    <th scope="col">Sale Availability</th>
                    <th scope="col">Being sold</th>
                    <th scope="col">More</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        

        <h4 class="mt-4">Verify Land <small class="text-muted">(Confirm details of newly added estate)</small></h4>
        <form id="estate_verify">

            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" id="estate_verify_serveyNo" name="estate_verify_serveyNo">
                        <option value="">--Please choose a Servey No.--</option>
                    </select>
                </div>
                <div class="col">
                    <input type="password" class="form-control" name="estate_verify_password"
                        id="estate_verify_password" placeholder="estate_verify_password" value="123456">
                </div>
            </div>

            <div class="col-12">
                <button id="estate_verify_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        

        <h4 class="mt-4">Change Estate Availability</h4>
        <form id="estate_avail">

            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" name="estate_avail_serveyNo" id="estate_avail_serveyNo">
                        <option value="">--Please choose a Servey No.--</option>
                    </select>
                </div>
                <div class="col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="estate_avail_choice1"
                            name="estate_avail_choice" value="true" checked="checked">
                        <label class="form-check-label" for="estate_avail_choice1">Available</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="estate_avail_choice2"
                            name="estate_avail_choice" value="false">
                        <label class="form-check-label" for="estate_avail_choice2">Not Available</label>
                    </div>

                </div>
            </div>
            <div class="col-12">
                <button id="estate_avail_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        

        <h4 class="mt-4">Request to Buy Estate</h4>
        <form id="estate_buy">
            <div class="row mb-3">
                <div class="col">
                    <input type="text" class="form-control" id="estate_buy_serveyNo" name="estate_buy_serveyNo" placeholder="estate_buy_serveyNo"
                    value="101">
                </div>
                <div class="col">
                    <div class="input-group">
                        <input type="text" class="form-control" id="estate_buy_proposedPrice" name="estate_buy_proposedPrice"
                    placeholder="estate_buy_proposedPrice" value="999">
                        <span class="input-group-text">₹</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <button id="estate_buy_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        

        <h4 class="mt-4">Accept Buyer's Request</h4>
        <form id="estate_sell">
            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" id="estate_sell_serveyNo" name="estate_sell_serveyNo">
                        <option value="">--Please choose a Servey No.--</option>
                    </select>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="estate_sell_buyer" name="estate_sell_buyer" placeholder="estate_sell_buyer"
                    value="123456789022">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <select class="form-select" name="estate_sell_reason" id="estate_sell_reason">
                        <option value="">--Please choose a reason for sell--</option>
                        <option value="sell" selected>Sell</option>
                        <option value="will">Will</option>
                        <option value="inheritance">Inheritance</option>
                        <option value="gift">Gift</option>
                    </select>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col">
                    <input type="password" class="form-control" name="estate_sell_password" id="estate_sell_password"
                    placeholder="estate_sell_password" value="123456">
                </div>
            </div>

            <div class="col-12">
                <button id="estate_sell_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

        

        <h4 class="mt-4">Pay Stamp Duty and Registration Charges</h4>
        <form id="tax_pay">
            <div class="row mb-3">
                <div class="col-6">
                    <input type="text" class="form-control" id="tax_pay_serveyNo" placeholder="tax_pay_serveyNo"
                        value="101">
                </div>
            </div>

            <div class="col">
                <button id="tax_pay_submit" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <%- include('../templates/footer') %>

    <script>
        'use strict';

        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                    data: data,
                    dataType: 'json',
                })
            }

            ////////////////////////
            const list_owned = JSON.parse($("#owned_estate_data").html());
            const tb = $("#table_owned tbody");
            const avail = $("#estate_avail_serveyNo");
            const ver = $("#estate_verify_serveyNo");
            const sell = $("#estate_sell_serveyNo");

            list_owned.forEach(element => {
                tb.append(`<tr>
                        <td>${element.serveyNo}</td>
                        <td>${element.officeCode}</td>
                        <td>${element.area}</td>
                        <td>${element.saleAvailability == true ? "Available":"Not Available"}</td>
                        <td>${element.beingSold}</td>
                        <td><button data-info='${JSON.stringify(element)}' class="btn btn-info more_info" data-bs-toggle="modal" data-bs-target="#infoModal">View</button></td>
                    </tr>`);

                avail.append(`<option value="${element.serveyNo}">${element.serveyNo}</option>`);
                ver.append(`<option value="${element.serveyNo}">${element.serveyNo}</option>`);
                sell.append(`<option value="${element.serveyNo}">${element.serveyNo}</option>`);
            });

            $(".more_info").click(function () {
                const data = JSON.parse($(this).attr('data-info'));
                $("#infoModalLabel").html(`Servey No.: ${data.serveyNo}`);
                delete data["serveyNo"];
                delete data["officeCode"];
                delete data["area"];
                delete data["saleAvailability"];
                delete data["beingSold"];
                delete data["owner"];
                $("#infoModal .modal-body").html(`<pre>${JSON.stringify(data, null, 4)}</pre>`)
            });

            ////////////////////////


            $("#estate_avail_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $('#estate_avail_serveyNo').val(),
                    saleAvailability: $('input[name="estate_avail_choice"]:checked').val()
                }

                submitForm("/user/estate/availability", "POST", data)
                    .done(function (res) {
                        console.log(res);
                    })
                    .fail(function (err) {
                        console.log(err);
                    });
            });


            $("#estate_buy_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $('#estate_buy_serveyNo').val(),
                    proposedPrice: $('#estate_buy_proposedPrice').val()
                }

                submitForm("/user/estate/buy", "POST", data)
                    .done(function (res) {
                        console.log(res);
                    })
                    .fail(function (err) {
                        console.log(err);
                    });
            });


            $("#estate_sell_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $('#estate_sell_serveyNo').val(),
                    buyer: $('#estate_sell_buyer').val(),
                    reason: $("#estate_sell_reason").val(),
                    password: $('#estate_sell_password').val()
                }

                submitForm("/user/estate/sell", "POST", data)
                    .done(function (res) {
                        console.log(res);
                    })
                    .fail(function (err) {
                        console.log(err);
                    });
            });


            ///////////////////////////////////////////////////


            $("#estate_verify_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $('#estate_verify_serveyNo').val(),
                    password: $('#estate_verify_password').val()
                }

                submitForm("/user/estate/verify", "POST", data)
                    .done(function (res) {
                        console.log(res);
                    })
                    .fail(function (err) {
                        console.log(err);
                    });
            });

            $("#tax_pay_submit").click(function (e) {
                e.preventDefault();

                const data = {
                    serveyNo: $('#tax_pay_serveyNo').val(),
                }

                submitForm("/tax", "POST", data)
                    .always(function (res) {
                        window.location.replace(res.redirectURL);
                    });
            });

        });
    </script>

</body>

</html>