<%- include('../templates/header', {title: "Regsitrar"}) %>

<body>
    <%- include('../templates/menu', {who: "igr"}) %>

    <div class="container mt-3">

        <h3>Create New Registrar</h3>
        <form id="create_registrar" class="row">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_officeCode" name="create_registrar_officeCode" placeholder="create_registrar_officeCode" value="THN2">
            </div>
            <div class="mb-2 col-md-6">
                <input type="password" class="form-control" id="create_registrar_registrarPassword" name="create_registrar_registrarPassword" placeholder="create_registrar_registrarPassword" value="123456">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_uid" name="create_registrar_uid" placeholder="create_registrar_uid" value="123456789014">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_name" name="create_registrar_name" placeholder="create_registrar_name" value="Admin2">
            </div>

            <div class="mb-2 col-12">
                <input type="password" class="form-control" id="create_registrar_password" name="create_registrar_password" placeholder="create_registrar_password" value="123456">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="create_registrar_submit">Submit</button>
            </div>
        </form>

        

    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';
        
        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            /////////////////////////////////

            $("#create_registrar_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    officeCode : $("#create_registrar_officeCode").val(),
                    uid : $("#create_registrar_uid").val(),
                    name : $("#create_registrar_name").val(),
                    registrarPassword : $("#create_registrar_registrarPassword").val(),
                    password : $("#create_registrar_password").val()
                }

                submitForm("/igr/registrar", "POST", data)
                .always(function(res) {
                    if(res.status == 200)
                        console.log(res.responseText);
                    else
                        console.log(res);
                });
            });
        });
    </script>

</body>

</html>