<%- include('../templates/header', {title: "Regsitrar"}) %>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #afbec9;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/landx16.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/igr">IGR</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= loggedInUser.name %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-3">

        <h3>Create New Registrar</h3>
        <form id="create_registrar" class="row">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_officeCode" name="create_registrar_officeCode" placeholder="create_registrar_officeCode" value="THN2">
            </div>
            <div class="mb-2 col-md-6">
                <input type="password" class="form-control" id="create_registrar_registrarPassword" name="create_registrar_registrarPassword" placeholder="create_registrar_registrarPassword" value="123456">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_uid" name="create_registrar_uid" placeholder="create_registrar_uid" value="123456789014">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_registrar_name" name="create_registrar_name" placeholder="create_registrar_name" value="Admin2">
            </div>

            <div class="mb-2 col-12">
                <input type="password" class="form-control" id="create_registrar_password" name="create_registrar_password" placeholder="create_registrar_password" value="123456">
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary" id="create_registrar_submit">Submit</button>
            </div>
        </form>

        

    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';
        
        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            /////////////////////////////////

            $("#create_registrar_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    officeCode : $("#create_registrar_officeCode").val(),
                    uid : $("#create_registrar_uid").val(),
                    name : $("#create_registrar_name").val(),
                    registrarPassword : $("#create_registrar_registrarPassword").val(),
                    password : $("#create_registrar_password").val()
                }

                submitForm("/igr/registrar", "POST", data)
                .always(function(res) {
                    if(res.status == 200)
                        console.log(res.responseText);
                    else
                        console.log(res);
                });
            });
        });
    </script>

</body>

</html>