<%- include('../templates/header', {title: "Regsitrar"}) %>

<body>
    <%- include('../templates/menu', {who: "registrar"}) %>

    <div class="container mt-3 mb-5">

        <h3 class="mt-3">Create User</h3>
        <form class="row" id="create_user">

            <div class="col">
                <input type="text" class="form-control" id="create_user_uid" name="create_user_uid" placeholder="create_user_uid" value="123456789023">
            </div>
            <div class="col">
                <input type="password" class="form-control" id="create_user_password" name="create_user_password" placeholder="create_user_password" value="123456">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="create_user_name" name="create_user_name" placeholder="create_user_name" value="User3">
            </div>
            <div class="col">
                <button class="btn btn-primary" id="create_user_submit">Submit</button>
            </div>
        </form>

        <h3 class="mt-3">Modify User</h3>
        <form class="row" id="modify_user">
            <div class="col">
                <input type="text" class="form-control" id="modify_user_uid" name="modify_user_uid" placeholder="modify_user_uid" value="123456789023">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="modify_user_name" name="modify_user_name" placeholder="modify_user_name" value="UserX">
            </div>
            <div class="col">
                <select class="form-select" name="modify_user_status" id="modify_user_status">
                    <option value="">--Please choose a Status--</option>
                    <option value="" selected>No Change</option>
                    <option value="not verified">Not Verified</option>
                    <option value="suspend">Suspend</option>
                </select>
            </div>

            <div class="col">
                <button class="btn btn-primary" id="modify_user_submit">Submit</button>
            </div>
        </form>

        <h3 class="mt-3">Create Estate</h3>
        <form class="row" id="create_estate">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_estate_serveyNo" name="create_estate_serveyNo" placeholder="create_estate_serveyNo" value="101">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_estate_owner" name="create_estate_owner" placeholder="create_estate_owner" value="123456789021">
            </div>

            <div class="mb-2 col-12">
                <label class="form-label" for="create_estate_location">Location</label>
                <textarea class="form-control" id="create_estate_location" name="create_estate_location" cols="50" rows="2">Village: X, Taluka: Y, District: Z, Pin: 123456</textarea>
            </div>

            <div class="input-group mb-2 col">
                <input class="form-control" type="number" id="create_estate_area" name="create_estate_area" placeholder="create_estate_area" min="1" step="1" value="201">                
                <span class="input-group-text">m<sup>2</sup></span>
            </div>

            <div class="mb-2 col">
                <input class="form-control" type="datetime-local" id="create_estate_purchasedOn" name="create_estate_purchasedOn" placeholder="create_estate_purchasedOn" value="2022-12-15T13:15">
            </div>
            <div class="mb-2 col">
                <input class="form-control" type="number" id="create_estate_transactionsCount" name="create_estate_transactionsCount" placeholder="create_estate_transactionsCount" min="0" step="1" value="0">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" id="create_estate_submit">Submit</button>
            </div>
        </form>

        <h3 class="mt-3">Modify Estate</h3>
        <form class="row" id="modify_estate">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="modify_estate_serveyNo" name="modify_estate_serveyNo" placeholder="modify_estate_serveyNo" value="101">
            </div>

            <div class="mb-2 col-12">
                <label class="form-label" for="modify_estate_location">Location</label>
                <textarea class="form-control" id="modify_estate_location" name="modify_estate_location" cols="50" rows="2"></textarea>
            </div>

            <div class="input-group mb-2 col">
                <input class="form-control" type="number" id="modify_estate_area" name="modify_estate_area" placeholder="modify_estate_area" min="1" step="1">                
                <span class="input-group-text">m<sup>2</sup></span>
            </div>

            <div class="mb-2 col">
                <input class="form-control" type="datetime-local" id="modify_estate_purchasedOn" name="modify_estate_purchasedOn" placeholder="modify_estate_purchasedOn">
            </div>
            <div class="mb-2 col">
                <input class="form-control" type="number" id="modify_estate_transactionsCount" name="modify_estate_transactionsCount" placeholder="modify_estate_transactionsCount" min="0" step="1">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" id="modify_estate_submit">Submit</button>
            </div>
        </form>

        <hr>

        <!-- <h3 class="mt-3">Check Stamp Duty and Registration Charges Paid</h4>
            <form class="row" id="check_tax">
                <div class="col-4 mb-2">
                    <input class="form-control" type="text" id="check_tax_serveyNo" name="check_tax_serveyNo" placeholder="check_tax_serveyNo" value="101">
                </div>
                <div class="col-4 mb-2">
                    <input class="form-control" type="number" id="check_tax_transactionCount" name="check_tax_transactionCount" placeholder="check_tax_transactionCount" value="1">
                </div>

                <div class="col-4">
                    <button class="btn btn-primary" id="check_tax_submit">Check</button>
                </div>
            </form>

            <div class="row">
                <div class="col-8">
                    <div class="input-group">
                        <span class="input-group-text">Result</span>
                        <input class="form-control" type="text" id="check_tax_result" value="" disabled="disabled">
                    </div>
                </div>
            </div> -->

        <h3 class="mt-3">Approve Sell of Estate</h3>
        <form class="row" id="approve_sell">

            <div class="mb-2 col-md-6">
                <select class="form-select" name="approve_sell_serveyNo" id="approve_sell_serveyNo">
                    <option value="">--Please choose a Servey No.--</option>
                </select>
            </div>
            <div class="mb-2 col-md-6">
                <input class="form-control" type="password" name="approve_sell_password" id="approve_sell_password" placeholder="approve_sell_password" value="123456">
            </div>
            

            <div class="col-12">
                <button class="btn btn-primary" id="approve_sell_submit">Submit</button>
            </div>
        </form>

        <h3 class="mt-3">To approve</h3>
        <pre id="toApprove_data" hidden="hidden"><%= JSON.stringify(toApprove, null, 4) %></pre>

        <!-- <table id="table_owned" class="table table-dark table-bordered table-hover"> -->
        <table id="table_toApprove" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Servey No.</th>
                    <th scope="col">Transaction Count</th>
                    <th scope="col">Taxes Paid</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';
        
        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            /////////////////////////////////

            $("#create_user_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    uid : $("#create_user_uid").val(),
                    name : $("#create_user_name").val(),
                    password : $("#create_user_password").val()
                }

                submitForm("/registrar/user", "POST", data)
                .done(function(res) {
                    console.log(res);
                })
                .fail(function(err) {
                    console.log(err);
                });
            });
            
            
            $("#modify_user_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    uid : $("#modify_user_uid").val(),
                    name : $("#modify_user_name").val(),
                    status: $("#modify_user_status").val()
                }

                submitForm("/registrar/user?_method=PUT", "POST", data)
                .done(function(res) {
                    console.log(res);
                })
                .fail(function(err) {
                    console.log(err);
                });
            });

            
            $("#create_estate_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    serveyNo : $("#create_estate_serveyNo").val(),
                    owner : $("#create_estate_owner").val(),
                    location : $("#create_estate_location").val(),
                    area : $("#create_estate_area").val(),
                    purchasedOn : $("#create_estate_purchasedOn").val()+":00+05:30",
                    transactionsCount : $("#create_estate_transactionsCount").val()
                }

                submitForm("/registrar/estate", "POST", data)
                .done(function(res) {
                    console.log(res);
                })
                .fail(function(err) {
                    console.log(err);
                });
            });


            $("#modify_estate_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    serveyNo : $("#modify_estate_serveyNo").val(),
                    location : $("#modify_estate_location").val(),
                    area : $("#modify_estate_area").val(),
                    purchasedOn : $("#modify_estate_purchasedOn").val() == '' ? '' : $("#modify_estate_purchasedOn").val()+":00+05:30",
                    transactionsCount : $("#modify_estate_transactionsCount").val()
                }

                submitForm("/registrar/estate?_method=PUT", "PUT", data)
                .done(function(res) {
                    console.log(res);
                })
                .fail(function(err) {
                    console.log(err);
                });
            });


            $("#approve_sell_submit").click(function (e) { 
                e.preventDefault();
                
                const data = {
                    serveyNo : $("#approve_sell_serveyNo").val(),
                    password : $("#approve_sell_password").val()
                }

                submitForm("/registrar/sell", "POST", data)
                .done(function(res) {
                    console.log(res);
                })
                .fail(function(err) {
                    console.log(err);
                });
            });

            $("#check_tax_submit").click(function (e) { 
                e.preventDefault();

                const _transactionId = "transaction" + '_' + $("#check_tax_serveyNo").val() + '_' + $("#check_tax_transactionCount").val();
                
                const data = {
                    transactionId : _transactionId
                }

                submitForm("/tax/check", "GET", data)
                .done(function(res) {
                    console.log(res)
                    $("#check_tax_result").val(res.isPaid ? "Paid" : "Not Paid");
                })
                .fail(function(err) {
                    console.log(err);
                    $("#check_tax_result").val("No record found.");
                });
            });


            //////////////////////
            const list_toApprove = JSON.parse($("#toApprove_data").html());

            const tb = $("#table_toApprove tbody");
            const appr = $("#approve_sell_serveyNo");

            list_toApprove.forEach(element => {
                const temp = element.split("_");
                const temp_serveyNo = temp[1];
                const temp_transactionCount = temp[2];

                submitForm("/tax/check", "GET", {transactionId : element})
                .done(function(res) {
                    tb.append(`<tr>
                        <td>${temp_serveyNo}</td>
                        <td>${temp_transactionCount}</td>
                        <td>${res.isPaid ? "Paid" : "Not Paid"}</td>
                    </tr>`)
                })
                .fail(function(err) {
                    tb.append(`<tr>
                        <td>${temp_serveyNo}</td>
                        <td>${temp_transactionCount}</td>
                        <td>No record found</td>
                    </tr>`)
                });

                appr.append(`<option value="${temp_serveyNo}">${temp_serveyNo}</option>`)
            });
            //////////////////////
        });
    </script>

</body>

</html>