<%- include('../templates/header', {title: "Regsitrar"}) %>

<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #afbec9;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/landx16.png" alt="" width="30" height="24">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav me-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/registrar">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/migrate">Migrate</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <%= loggedInUser.name %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="full-screen-spinner-container" style="display: none;">
        <div class="spinner-border" id="full-screen-spinner" role="status"></div>
    </div>

    <div class="container mt-3 mb-5">

        <h3 class="mt-3">To approve</h3>
        <pre id="toApprove_data" hidden="hidden"><%= JSON.stringify(toApprove, null, 4) %></pre>

        <div style="overflow-y: auto;">
            <!-- <table id="table_owned" class="table table-dark table-bordered table-hover"> -->
            <table id="table_toApprove" class="table table-bordered table-hover">
                <thead>
                    <tr class="align-middle">
                        <th scope="col">ULPIN</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Buyer</th>
                        <th scope="col">Taxes Paid</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center">--- No Pending Requests ---</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr>

        <!-- <h3 class="mt-3">Create User</h3>
        <form class="row" id="create_user">

            <div class="col">
                <input type="text" class="form-control" id="create_user_uid" name="create_user_uid" placeholder="create_user_uid" value="123456789023">
            </div>
            <div class="col">
                <input type="password" class="form-control" id="create_user_password" name="create_user_password" placeholder="create_user_password" value="123456">
            </div>
            <div class="col">
                <input type="text" class="form-control" id="create_user_name" name="create_user_name" placeholder="create_user_name" value="User3">
            </div>
            <div class="col">
                <button class="btn btn-primary" id="create_user_submit">Submit</button>
            </div>
        </form> -->

        <h3 class="mt-3">Modify User</h3>
        <form class="row align-items-end" id="modify_user">
            <div class="col-md-3 col-sm-12 mb-2">
                <input type="text" class="form-control" id="modify_user_uid" name="modify_user_uid" placeholder="UID" value="">
            </div>
            <div class="col-md-3 col-sm-12 mb-2">
                <input type="text" class="form-control" id="modify_user_name" name="modify_user_name"
                    placeholder="Name (First Middle Last)" value="">
            </div>
            <div class="col-md-3 col-sm-12 mb-2">
                <label for="modify_user_name" class="form-label">Status</label>
                <select class="form-select" name="modify_user_status" id="modify_user_status">
                    <option value="">--Please choose a Status--</option>
                    <option value="" selected>No Change</option>
                    <option value="not verified">Remove Verification</option>
                    <option value="suspend">Suspend</option>
                </select>
            </div>

            <div class="col-md-3 col-sm-12 mb-2">
                <button class="btn btn-primary" id="modify_user_submit">Submit</button>
            </div>
        </form>

        <!-- <h3 class="mt-3">Create Estate</h3>
        <form class="row" id="create_estate">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_estate_ulpin" name="create_estate_ulpin" placeholder="create_estate_ulpin" value="12345678901234">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="create_estate_owner" name="create_estate_owner" placeholder="create_estate_owner" value="123456789021">
            </div>

            <div class="mb-2 col-12">
                <label class="form-label" for="create_estate_location">Location</label>
                <textarea class="form-control" id="create_estate_location" name="create_estate_location" cols="50" rows="2">Village: X, Taluka: Y, District: Z, Pin: 123456</textarea>
            </div>

            <div class="input-group mb-2 col">
                <input class="form-control" type="number" id="create_estate_area" name="create_estate_area" placeholder="create_estate_area" min="1" step="1" value="201">                
                <span class="input-group-text">m<sup>2</sup></span>
            </div>

            <div class="mb-2 col">
                <input class="form-control" type="datetime-local" id="create_estate_purchasedOn" name="create_estate_purchasedOn" placeholder="create_estate_purchasedOn" value="2022-12-15T13:15">
            </div>
            <div class="mb-2 col">
                <input class="form-control" type="number" id="create_estate_transactionsCount" name="create_estate_transactionsCount" placeholder="create_estate_transactionsCount" min="0" step="1" value="0">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" id="create_estate_submit">Submit</button>
            </div>
        </form> -->

        <h3 class="mt-3">Modify Estate</h3>
        <form class="row" id="modify_estate">
            <div class="mb-2 col-12">
                <input type="text" class="form-control" id="modify_estate_ulpin" name="modify_estate_ulpin" placeholder="ULPIN"
                    value="">
            </div>

            <div class="input-group mb-2 col-12">
                <input class="form-control" type="number" id="modify_estate_area" name="modify_estate_area" placeholder="Area" min="1" step="1">                
                <span class="input-group-text">m<sup>2</sup></span>
            </div>

            <div class="mb-2 col-12">
                <!-- <label class="form-label" for="modify_estate_location">Location</label>
                                                                                                                                                                                                                                <textarea class="form-control" id="modify_estate_location" name="modify_estate_location" cols="50" rows="2"></textarea> -->
                
                <label class="form-label">Location</label>
                
                <div class="row">
                    <div class="col-12 col-sm-12 mb-1">
                        <input class="form-control" id="modify_estate_location_locality" placeholder="Village/Locality" type="text">
                    </div>
                
                    <div class="col-12 col-sm-4 mb-1">
                        <!-- <input class="form-control" id="modify_estate_location_district" placeholder="District" type="text"> -->
                        <select class="form-select" id="modify_estate_location_district">
                            <option value="">-- District --</option>
                            <option value="Thane">Thane</option>
                            <option value="Raigad">Raigad</option>
                        </select>
                    </div>
                    <div class="col-12 col-sm-4 mb-1">
                        <!-- <input class="form-control" id="modify_estate_location_taluka" placeholder="Taluka" type="text"> -->
                        <select class="form-select" id="modify_estate_location_taluka">
                            <option value="">-- Taluka --</option>
                        </select>
                    </div>
                
                    <div class="col-12 col-sm-4 mb-1">
                        <input class="form-control" id="modify_estate_location_pin" placeholder="PIN" type="number" min="100000"
                            max="999999">
                    </div>
                </div>
            </div>

            <div class="mb-2 col-md-6">
                <input class="form-control" type="datetime-local" id="modify_estate_purchasedOn" name="modify_estate_purchasedOn" placeholder="Purchased On">
            </div>
            <div class="mb-2 col-md-6">
                <input class="form-control" type="number" id="modify_estate_transactionsCount" name="modify_estate_transactionsCount" placeholder="Transaction Count" min="0" step="1">
            </div>

            <div class="col-12">
                <button class="btn btn-primary" id="modify_estate_submit">Submit</button>
            </div>
        </form>

        <!-- <h3 class="mt-3">Add Old Transaction</h3>
        <form class="row" id="add_transaction">
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="add_transaction_ulpin" placeholder="add_transaction_ulpin" value="12345678901235">
            </div>
            <div class="mb-2 col-md-6">
                <input type="number" class="form-control" id="add_transaction_Num" placeholder="add_transaction_Num" value="1" min="0" step="1">
            </div>

            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="add_transaction_seller" placeholder="add_transaction_seller" value="123456789021">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="add_transaction_buyer" placeholder="add_transaction_buyer" value="123456789022">
            </div>

            <div class="mb-2 col-md-6">
                <select class="form-select" id="add_transaction_reason">
                    <option value="">--Please choose a reason for sell--</option>
                    <option value="sell" selected>Sell</option>
                    <option value="will">Will</option>
                    <option value="inheritance">Inheritance</option>
                    <option value="gift">Gift</option>
                </select>
            </div>
            <div class="mb-2 col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="add_transaction_proposedPrice" placeholder="add_transaction_proposedPrice" value="999">
                    <span class="input-group-text">₹</span>
                </div>
            </div>

            <div class="col-12 mb-2">
                <div class=" col-md-6 mx-auto">
                    <input class="form-control" type="datetime-local" id="add_transaction_transactionDateTime" placeholder="add_transaction_transactionDateTime">
                </div>
            </div>

            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="add_transaction_officeCode" placeholder="add_transaction_officeCode" value="THN1">
            </div>
            <div class="mb-2 col-md-6">
                <input type="text" class="form-control" id="add_transaction_approvedBy" placeholder="add_transaction_approvedBy" value="123456789013">
            </div>

            <div class="mb-2 col-md-6 mx-auto">
                <input class="form-control" type="datetime-local" id="add_transaction_approvedDateTime" placeholder="add_transaction_approvedDateTime">
            </div>
            

            <div class="col-12">
                <button class="btn btn-primary" id="add_transaction_submit">Submit</button>
            </div>
        </form> -->

        
        <!-- <h3 class="mt-3">Check Stamp Duty and Registration Charges Paid</h4>
            <form class="row" id="check_tax">
                <div class="col-4 mb-2">
                    <input class="form-control" type="text" id="check_tax_ulpin" name="check_tax_ulpin" placeholder="check_tax_ulpin" value="12345678901234">
                </div>
                <div class="col-4 mb-2">
                    <input class="form-control" type="number" id="check_tax_transactionCount" name="check_tax_transactionCount" placeholder="check_tax_transactionCount" value="1">
                </div>

                <div class="col-4">
                    <button class="btn btn-primary" id="check_tax_submit">Check</button>
                </div>
            </form>

            <div class="row">
                <div class="col-8">
                    <div class="input-group">
                        <span class="input-group-text">Result</span>
                        <input class="form-control" type="text" id="check_tax_result" value="" disabled="disabled">
                    </div>
                </div>
            </div> -->

        <!-- <h3 class="mt-3">Approve Sell of Estate</h3>
        <form class="row" id="approve_sell">

            <div class="mb-2 col-md-6">
                <select class="form-select" name="approve_sell_ulpin" id="approve_sell_ulpin">
                    <option value="">--Please choose a ULPIN--</option>
                </select>
            </div>
            <div class="mb-2 col-md-6">
                <input class="form-control" type="password" name="approve_sell_password" id="approve_sell_password" placeholder="approve_sell_password" value="123456">
            </div>
            

            <div class="col-12">
                <button class="btn btn-primary" id="approve_sell_submit">Submit</button>
            </div>
        </form> -->

    </div>

    <%- include('../templates/footer') %>

    <script>
        'use strict';
        
        $(document).ready(function () {
            function submitForm(url, method, data) {
                return $.ajax({
                    type: method,
                    url: url,
                    data: data,
                    dataType: 'json',
                })
            }

            //////////////////////
            $("#full-screen-spinner-container").show();
            const list_toApprove = JSON.parse($("#toApprove_data").html());
            
            if(list_toApprove.length === 0)
            $("#full-screen-spinner-container").hide();

            const tb = $("#table_toApprove tbody");
            if(list_toApprove.length > 0) tb.html("");
            // const appr = $("#approve_sell_ulpin");

            list_toApprove.forEach(element => {
                const temp = element.split("_");
                const ulpin = temp[1];
                const transactionNum = temp[2];

                submitForm("/tax/check", "GET", {transactionId : element})
                .done(function(res1) {
                    let data1 = {
                        ulpin: ulpin,
                        transactionNum: transactionNum
                    }

                    submitForm("/details/transaction", "GET", data1)
                    .done(function(res2) {

                        submitForm('/details/user', "GET", {uid: res2.seller})
                        .done(function(res3) {
                            submitForm('/details/user', "GET", {uid: res2.buyer})
                            .done(function(res4) {
                                let row = `<tr>
                                    <td class="align-middle text-primary">${ulpin}</td>
                                    <td class="align-middle">${res2.seller} (${res3.name})</td>
                                    <td class="align-middle">${res2.buyer} (${res4.name})</td>
                                    `
                                if(res1.isPaid) {
                                    row += `
                                        <td class="align-middle text-success">Yes</td>
                                        <td class="d-flex justify-content-between" data-ulpin=${ulpin} data-seller=${res2.seller} data-buyer=${res2.buyer}>
                                            <button class="btn btn-success approve_sell_action" data-action="accept"><i class="fas fa-check-circle "></i></button>
                                            <button class="btn btn-danger ms-1 approve_sell_action" data-action="reject"><i class="fas fa-times-circle"></i></button>
                                        </td>
                                    </tr>`
                                } else {
                                    row += `
                                        <td class="align-middle text-danger">No</td>
                                        <td class="d-flex justify-content-end" data-ulpin=${ulpin} data-seller=${res2.seller} data-buyer=${res2.buyer}>
                                            <button class="btn btn-danger approve_sell_action" data-action="reject"><i class="fas fa-times-circle"></i></button>
                                        </td>
                                    </tr>`
                                }

                                tb.append(row);
                                $("#full-screen-spinner-container").hide();
                            })
                            .fail(function(err4) {
                                console.log(err4);
                            });

                        })
                        .fail(function(err3) {
                            console.log(err3);
                        });
                    })
                    .fail(function(err2) {
                        console.log(err2)
                    });
                })
                .fail(function(err1) {
                    console.log(err1)
                });

                // appr.append(`<option value="${ulpin}">${ulpin}</option>`)
            });
            //////////////////////

            /* $("#create_user_submit").click(function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show()
                
                const data = {
                    uid : $("#create_user_uid").val(),
                    name : $("#create_user_name").val(),
                    password : $("#create_user_password").val()
                }

                submitForm("/registrar/user", "POST", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide()
                })
                .fail(function(err) {
                    console.log(err);
                });
            }); */
            
            
            $("#modify_user_submit").click(function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show();
                
                const data = {
                    uid : $("#modify_user_uid").val(),
                    name : $("#modify_user_name").val(),
                    status: $("#modify_user_status").val()
                }

                submitForm("/registrar/user?_method=PUT", "POST", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            });

            
            /* $("#create_estate_submit").click(function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show();
                
                const data = {
                    ulpin : $("#create_estate_ulpin").val(),
                    owner : $("#create_estate_owner").val(),
                    location : $("#create_estate_location").val(),
                    area : $("#create_estate_area").val(),
                    purchasedOn : $("#create_estate_purchasedOn").val()+":00+05:30",
                    transactionsCount : $("#create_estate_transactionsCount").val()
                }

                submitForm("/registrar/estate", "POST", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            }); */


            $("#modify_estate_submit").click(function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show();

                const locality = $("#modify_estate_location_locality").val()
                const taluka = $("#modify_estate_location_taluka").val()
                const district = $("#modify_estate_location_district").val()
                const pin = $("#modify_estate_location_pin").val()
                const _location = `Locality: ${locality}, Taluka: ${taluka}, District: ${district}, PIN: ${pin}`;
                
                const data = {
                    ulpin : $("#modify_estate_ulpin").val(),
                    location: _location,
                    area : $("#modify_estate_area").val(),
                    purchasedOn : $("#modify_estate_purchasedOn").val() == '' ? '' : $("#modify_estate_purchasedOn").val()+":00+05:30",
                    transactionsCount : $("#modify_estate_transactionsCount").val()
                }

                console.log(data)

                submitForm("/registrar/estate?_method=PUT", "PUT", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            });


            /*
            $("#approve_sell_submit").click(function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show();
                
                const data = {
                    ulpin : $("#approve_sell_ulpin").val(),
                    password : $("#approve_sell_password").val()
                }

                submitForm("/registrar/sell", "POST", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            });
            */

            $(document).on("click", ".approve_sell_action", function (e) { 
                e.preventDefault();
                $("#full-screen-spinner-container").show();

                const pressed_btn = $(this);
                const data_td = pressed_btn.parent()
                
                const data = {
                    ulpin : data_td.attr("data-ulpin"),
                    action: pressed_btn.attr("data-action"),
                    seller: data_td.attr("data-seller"),
                    buyer: data_td.attr("data-buyer")
                }
               
                submitForm("/registrar/sell", "POST", data)
                .done(function(res) {
                    console.log(res);

                    data_td.parent().remove()
                    if($("#table_toApprove tbody").children().length === 0) {
                        $("#table_toApprove tbody").html(`
                        <tr>
                            <td colspan="5" class="text-center">--- No Pending Requests ---</td>
                        </tr>
                        `);
                    }

                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            });

            $("#check_tax_submit").click(function (e) { 
                e.preventDefault();

                const _transactionId = "transaction" + '_' + $("#check_tax_ulpin").val() + '_' + $("#check_tax_transactionCount").val();
                
                const data = {
                    transactionId : _transactionId
                }

                submitForm("/tax/check", "GET", data)
                .done(function(res) {
                    console.log(res)
                    $("#check_tax_result").val(res.isPaid ? "Paid" : "Not Paid");
                })
                .fail(function(err) {
                    console.log(err);
                    $("#check_tax_result").val("No record found.");
                });
            });

            /* $("#add_transaction_submit").click(function(e) {
                e.preventDefault();
                $("#full-screen-spinner-container").show();

                const data = {
                    ulpin : $("#add_transaction_ulpin").val(),
                    num : $("#add_transaction_Num").val(),
                    seller : $("#add_transaction_seller").val(),
                    buyer : $("#add_transaction_buyer").val(),
                    reason : $("#add_transaction_reason").val(),
                    proposedPrice : $("#add_transaction_proposedPrice").val(),
                    tDateTime : $("#add_transaction_transactionDateTime").val(),
                    officeCode : $("#add_transaction_officeCode").val(),
                    approvedBy : $("#add_transaction_approvedBy").val(),
                    aDateTime : $("#add_transaction_approvedDateTime").val()
                }

                submitForm("/registrar/transaction", "POST", data)
                .done(function(res) {
                    console.log(res);
                    $("#full-screen-spinner-container").hide();
                })
                .fail(function(err) {
                    console.log(err);
                });
            }); */

            // -------------------------------------


            $("#modify_estate_location_district").on('change', function () {
                const taluka_list = {
                    "Thane": ["Thane", "Bhiwandi", "Kalyan"],
                    "Raigad": ["Karjat", "Khopoli", "Panvel"]
                }
                let taluka_html = `<option value="">-- Taluka --</option>`

                const current_list = taluka_list[$("#modify_estate_location_district").val()] || [];

                current_list.forEach(element => {
                    taluka_html += `<option value="${element}">${element}</option>`
                });

                $("#modify_estate_location_taluka").html(taluka_html);
            });

        });
    </script>

</body>

</html>